langchain==0.3.3
langchain-cohere==0.3.0
langchain-community==0.3.2
langchain-core==0.3.10
langchain-experimental==0.3.2
langchain-groq==0.2.0
langchain-huggingface==0.1.0
langchain-text-splitters==0.3.0
langsmith==0.1.134
pypdf==5.0.1
numpy==1.26.4
streamlit==1.40.1
faiss-cpu